@font-face{
    font-family:cigra;
    src:url(cigra.zip)

}
 
body{
    font-family:cigra;
    /* font: 15px/1.5 Arial, Helvetica, sans-serif; */
    padding:0;
    margin:0;
    background-color:#ebe0d8;
}
 
/* global*/
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
 
}
.dark{
    padding:19px;
    background:rgb(213, 200, 184);
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 5px;
}
.dark2{
    padding:19px;
    background:rgba(63, 56, 121, 0.623);
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 5px;
}
.dark3{
    padding:19px;
    background:rgba(135, 127, 208, 0.26);
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 2px;

}

ul{
    margin:0;
    padding:0;
}
/* header*/
header{
    background:#6291de;
    color:#ffffff;
 
    padding-top:30px;
    min-height:70px;
    border-bottom:#4971b3 5px solid;
}
/*links*/
header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;

}
 
header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px; /*top r b l*/
}
 
header #branding{
    float:left;
}
 
header #branding h1{
    margin:0;
}
 
header nav{
    float:right;
    margin-top:10px;
}
 
header .highlight, header .current a{
    color:#5e62b8;
    font-weight: bold;
}
 
header a:hover{
    color:#4b5894;
    font-weight:bold;
}
 
 
/* showcase*/
#showcase{
    min-height: 200px;
    background:url('../images/show2.png') no-repeat 90%, 70px ;
    text-align:left;
    color:#5e62b8;
}
 
#showcase h1{
    margin-top:50px;
    font-size:55px;
    margin-bottom:10px;
}
 
#showcase p{
    font-size:20px;
}

#showcase2{
    min-height: 0px;
    background:url('../images/wish.gif') no-repeat 50%;
    text-align:center;
    color:#ffffff;
    border-bottom: #5e62b8 5px solid;
}
 
#showcase2 h1{
    margin-top:5px;
    font-size:55px;
    margin-bottom:600px;

}
 
#showcase2 p{
    font-size:20px;
}
 /*boxes*/
#boxes{
    margin-top:20px;
}
#boxes .box{
    float:left;
    text-align:center;
    width:20%;
    padding:24px;
}

#boxes2{
    margin-top:20px;
}
#boxes2 .box2{
    float:left;
    text-align:center;
    width:25%;
    padding:40px;
}
footer{
    padding:10px;
    margin-top:20px;
    color:#ffffff;
    background-color:#5e62b8;
    text-align: center;
}
 
/*sidebar*/
aside#sidebar{
    float:right;
    width:20%;
}

/*left col*/
article#left-col{
    float:left;
    width:75%
}
/*table*/
table,td,th,tr{
    text-align: center;
    border: 2px solid #5e62b8 ;
    border-radius: 10px;
    padding:10px;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
tr:nth-child(1){
    background-color: rgba(218, 205, 187, 0.659);
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;

}

/*media queries*/
@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #boxes.box,
    article#left-col,
    aside#sidebar{
        float:none;
        text-align: center;
        width:100%;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top:40px;
    }
    

}
